/* backgroun container */
.container {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  --s: 200px; /* control the size */
  --c1: #1d1d1d;
  --c2: #4e4f51;
  --c3: #3c3c3c;

  background:
    repeating-conic-gradient(from 30deg, #0000 0 120deg, var(--c3) 0 180deg) calc(0.5 * var(--s))
      calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(from 30deg, var(--c1) 0 60deg, var(--c2) 0 120deg, var(--c3) 0 180deg);
  background-size: var(--s) calc(var(--s) * 0.577);
}

/*footer text*/
.footer-text {
  font-size: 10px;
  justify-content: center;
  background-color: transparent;
  color: #e0dddd;
}

/*for card */
.custom-card-container {
  width: 75%; /* Default for larger screens */
  max-width: 1200px; /* Optional to prevent over-expansion */
  right: 105%;
}

@media screen and (max-width: 600px) {
  .custom-card-container {
    width: 100%; /* Adjusts for mobile devices */
    max-width: unset; /* Remove desktop limits */
    left: 0%;
  }
}

@media (max-width: 600px) {
  .container {
    margin: 50;
    padding: 0 15px;
  }
}
/*logo position for login */
.logo-position {
  position: absolute;
  bottom: 30%; /* Adjust as necessary to place it in the right position */
  left: 70%;
  transform: translateX(-50%);
  text-align: center;
  z-index: -1;
}

.text-center {
  text-align: center;
}

.font-weight-medium {
  font-size: 1.5rem;
}

.footer-text {
  font-size: 0.75rem;
}

/* FOR REGISTER VIEW */
.logo-position-register {
  position: absolute;
  bottom: 30%; /* Adjust as necessary to place it in the right position */
  left: 75%;
  transform: translateX(-50%);
  text-align: center;
  z-index: -1;
}

.text-center {
  text-align: center;
}

.font-weight-medium {
  font-size: 1.5rem;
}

.footer-text {
  font-size: 0.75rem;
}
